<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h3>{{title}}</h3>
		<form method="post" action="/add">
			<div class="form-group">
				<label>用户名</label>
				<input type="text" class="form-control" placeholder="请填写用户名" name="name">
			</div>
			<div class="form-group">
				<label>密码</label>
				<input type="password" class="form-control" placeholder="请输入密码" name="password">
			</div>
			<div class="form-group">
				<label>年龄</label>
				<input type="text" class="form-control" placeholder="请填年龄" name="age" }>
			</div>
			<div class="form-group">
				<label>邮箱</label>
				<input type="email" class="form-control" placeholder="请填写邮箱" name="email" }>
			</div>
			<div class="form-group">
				<label>请选择爱好</label>
				<div>
					<label class="checkbox-inline">
						<input type="checkbox" value="足球" name="hobbies"> 足球
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="篮球" name="hobbies"> 篮球
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="橄榄球" name="hobbies"> 橄榄球
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="敲代码" name="hobbies"> 敲代码
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="抽烟" name="hobbies"> 抽烟
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="喝酒" name="hobbies"> 喝酒
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" value="烫头" name="hobbies"> 烫头
					</label>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">添加用户</button>
		</form>
	</div>
</body>

</html>
