.colorsss {
  color: darkgreen;
}
.colorsss {
  color: darkgreen;
}
.colorsss {
  color: darkgreen;
}
转化为css .colorsss {
  color: darkgreen;
}
.colorsss {
  color: darkgreen;
}
.colorsss {
  color: darkgreen;
}
