<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="css/basic.css"/>
</head>
<body>
    <h2 class="title">这是一个h2</h2>

    <form action="/doAdd" method="post">
        用户名: <input type="text" name="username"/>
        <br/>
        <br/>
        密　码: <input type="password" name="password"/>
        <br/>
        <br/>
        <button type="submit">提交</button>
    </form>


    <img src="images/a.png" />

    <img src="images/bbb.png" />
</body>
</html>