div {
  width: 2px;
  width: 50%;
  width: 4.5px;
  width: 4.4px;
  top: -999px;
  top: 999px;
  width: 0.84147098;
  width: 0.01745241;
  width: 0.01570732;
  width: -0.99999999rad;
  width: 0rad;
  width: 0.54030231;
  width: 0.9998477;
  width: 0.99987663;
  width: 1.55740772;
  width: 0.01745506;
  width: 0.01570926;
  width: 3.14159265;
  width: 4px;
  width: 9px;
  width: 16px;
  width: 5px;
  width: 1px;
  width: 3px;
}
转义为css div {
  width: 2px;
  width: 50%;
  width: 4.5px;
  width: 4.4px;
  top: -999px;
  top: 999px;
  width: 0.84147098;
  width: 0.01745241;
  width: 0.01570732;
  width: -0.99999999rad;
  width: 0rad;
  width: 0.54030231;
  width: 0.9998477;
  width: 0.99987663;
  width: 1.55740772;
  width: 0.01745506;
  width: 0.01570926;
  width: 3.14159265;
  width: 4px;
  width: 9px;
  width: 16px;
  width: 5px;
  width: 1px;
  width: 3px;
}
